@model _23DH114304_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa sản phẩm</h2>
<hr />
<h5 class="bg-info">Bạn muốn xóa sản phẩm này? </h5>

@Html.Partial("PVDetailDele", Model)

<div class="font-group">
    <div class="col-md-offset-3 col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div style="margin-top:10px">
                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-primary btn-sm" /> |
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        }
    </div>
</div>