@model _23DH114304_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Chi tiết sản phẩm</h2>

@Html.Partial("PVDetailDele", Model)    
<div class="font-group">
    <div class="col-md-offset-3 col-md-9">
        <div style="margin-top:10px">
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
            </p>
        </div>
    </div>
</div>
