@model _23DH114304_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa Danh Mục</h2>


    
    @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()
    <div class="form-horizontal">
    <hr/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h4 >Bạn muốn xóa danh mục sản phẩm ?</h4>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Tên danh mục</div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CategoryName)
        </div>
        <hr/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<div class="form-actions no-color">*@
                <input type="submit" value="Xóa" class="btn btn-primary btn-sm" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
        
    </div>
    
    </div>
    }